.search__form {
    padding: 12px 6px;
    margin-bottom: 12px;
    border-radius: 5px;
    margin-top: 12px;
}

.margin-right {
    margin-right: 12px;
}

.btn-info {
    color: white!important;
    padding: 4px 8px!important;
}

.sidebar-right {
    border-radius: 5px;
}

.form-control {
    position: relative;
}

.btn-search {
    position: absolute;
    top: 1px;
    right: 12px;
    padding: 5px 8px!important;
}

.search__form .col-md-8, .search__form .col-md-4  {
    padding-right: 0!important;
}
