.footer {
    color: #263b5e;
    padding: 80px 0px 50px;
}

.bg-dark {
    background-color: #263b5e !important;
}

.footer .footer-list li a {
    color: #a5a5bf;
}

.text-primary {
    color: #50c594 !important;
}

.footer-alt {
    border-top: 1px solid rgba(255,255,255,.08);
    padding: 20px 0px;
    color: rgba(255,255,255,.4);
}

.bg-overlay {
    background-color: rgba(35,37,47,.65);
    width: 100%;
    height: 100%;
    border-radius: 0.375rem;
}

.footer .map .bg-overlay, .footer .map .map-btn {
    display: block;
}

.footer .map .map-btn {
    z-index: 1;
}

.map:hover .map-btn, .map:hover .bg-overlay {
    display: none;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.p-2 {
    padding: 0!important;
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.git:hover, .tw:hover, .fb:hover, .inst:hover {
    color: #50c594!important;
}

.fs-15 {
    color: #a5a5bf!important;
}

.py-2:hover .fs-15 {
    color: #50c594!important;
}

.footer a{
    color: #a5a5bf;
}