/* reponsive cho properties */
@media (max-width: 990px) {
    #product .col-md-8  {
        width: 90%!important;
        margin: 0 auto;
    }

    #blog .col-md-8  {
        flex-basis: 100%!important;
        width: 90%;
        margin: 0 auto;
    }

    #blog .col-md-4 {
        flex-basis: 100%!important;
        width: 90%;
        margin: 0 auto;
    }

    #product .col-md-4 {
        width: 90%;
        margin: 0 auto;
    }

    .sidebar-left {
        margin-top: 8px!important;
    }

    .sidebar-left img {
        width: auto!important;
    }

    .col-md-3 {
        width: 33%;
        padding: 12px;
    }
}

#product, .recent__properties {
    background-color: #E4F1ED;
}

.nav-tabs {
    margin-bottom: 24px;
}

#product .card .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.sidebar-left img {
    width: 50%;
    height: 100px;
    object-fit: cover;
}

#product img {
    cursor: pointer;
}

.sidebar-left p {
    margin-bottom: 5px;
}

#product .card .card-img-top {
    transition: transform 0.5s;
}

#product .card:hover .card-img-top {
    transform: scale(1.1); 
}

/* Phần form */

.advanced i {
    background-color: aqua;
    padding: 2px;
    border-radius: 50%;
    color: white;
}

.checkbox {
    margin-top: 12px;
}

.checkbox .form-check {
    margin-top: 12px;
}

/* CSS */

.hiden {
    display: none;
}

.checkbox {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease; /* Điều chỉnh thời gian transition tại đây */
}

.checkbox.visible {
    max-height: 1000px; /* Đặt giá trị lớn đủ lớn để hiển thị tất cả nội dung */
}

.fa-plus {
    transition: transform 0.5s ease; /* Hiệu ứng biểu tượng */
}

.fa-minus {
    transform: rotate(180deg); /* Xoay biểu tượng khi hiển thị checkbox */
}

/* Phần catalog */

.Catalog__content p {
    margin-top: 12px;
}

.Catalog__content p:hover {
    color: #50c594!important;
}

