@media (max-width: 1024px) {
    .hero-3 {
        height: auto;
        padding: 120px 0px;
    }

    .col-md-4 {
        flex-basis: 50%!important;
    }
}

@media (max-width: 768px) {
    .g-3{
        text-align: left;
    }

    .col-md-8 .form-select{
        width: 40%!important;
    }

    .section {
        padding: 80px 0 50px;
    }

    .col-md-3{
        flex-basis: 50%;
    }

    .service__content, .partners__content {
        padding-bottom: 30px;
    }

    .grid {
        grid-template-columns: auto!important;
        grid-template-rows: auto!important;
    }

    .grid__item1, .grid__item2, .grid__item3, .grid__item4 {
        grid-row: auto; 
        grid-column: auto; 
    }

    .fontNeuron {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .col-md-4 {
        flex-basis: 80%!important;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .blockH {
        margin-bottom: 50px;
    }
}

@media (max-width: 580px) {

    .margin-bot {
        margin-bottom: 15px;
    }

    .pb-3 {
        padding: 0!important;
    }
    .mb-4 {
        margin-bottom: 0!important;
    }

    .footer {
        padding: 50px 0 50px;
    }

    .g-3 {
        width: 90%;
        margin: 30px auto;
    }

    .hero-3-title {
        font-size: 48px;
        line-height: 50px;
    }

    .service__icon {
        font-size: 36px;
        width: 80px;
        height: 80px;
    }

    #service h2 {
        font-size: 14px;
    }

    .col-md-4 {
        flex-basis: 90%!important;
        margin: 0 auto;
    }
}