* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins",sans-serif;
    color:#052c65;
    background-color: #fff;
    line-height: 1.6;
    font-size: 15px;
    margin: 0;
    position: relative;
}

.search-button {
    display: flex;
    justify-content: flex-start!important;
    align-items: center;
}

.search-button i {
    margin-right: 12px;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 50%!important;
    cursor: pointer;
    background-color: #50c594;
    transition: background-color 0.3s;
}

.search-button i.close {
    background-color: #e74c3c;
}

.input-container {
    overflow: hidden;
}

.rounded-input {
    width: 0;
    padding: 5px;
    border: 2px solid #50c594;
    border-radius: 10px;
    outline: none;
    transition: width 0.3s;
    margin-right: 5px;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

@keyframes slide-in {
    from {
        width: 0;
        transform: translateX(100%);
    }
    to {
        width: 150px;
        transform: translateX(0);
    }
}


a {
    text-decoration: none;
    color: #052c65;
}

.navbar {
    border-bottom: 1px solid rgba(255,255,255,.3);
    transition: all .3s ease-in-out;
    background-color: white!important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}

.nav-link {
    padding-right: 28px!important;
    font-weight: 500;
    color: #052c65!important;
}

.nav-link:hover {
    color: #50c594!important;
}

.active {
    color: #50c594!important;
}

.btn-primary {
    background-color: #50c594;
    border: 1px solid #50c594 !important;
    color: #fff;
}

.btn-primary:hover {
    color: #50c594!important;
    background-color: white!important;
}

.row {
    position: relative;
}

/* Hết phần nav */

/* Phần Home */

#home {
    background-image: url(https://live.staticflickr.com/65535/53271167366_13bd0b8641_k.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center center;
}

.hero-3-title {
    font-size: 56px;
    line-height: 76px;
}

.pd-10 {
    padding-bottom: 20px;
}

.text-muted {
    color: white!important;
}

.form-label {
    margin: 0.5rem 0!important;
}

.col-12 button {
    margin: 1rem 0!important;
}

.g-3 {
    padding: 30px;
    background-color: rgb(255, 255, 255)!important;
    border-radius: 5px;
}

.form-label {
    color: #052c65;
}

.section {
    padding: 130px 0px 100px;
    position: relative;
}

.section-xs {
    padding: 50px 0px 50px;
    position: relative;
}

/* Phần service */
#service, #agent, #properties, #partners {
    background-color: #E4F1ED;
}

.blockH {
    display: flex;
    align-items: center;
}

.blockH span {
    margin-right: 5px;
}

.fontNeuron {
    font-size: 35px;
}

#service h2 {
    margin: 0;
    font-size: 20px;
    line-height: 1.25;
    color: #052c65;
}

.service__icon {
    color: #052c65;
    background-color: #fff;
    margin: 0 auto 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    position: relative;
    font-size: 54px;
    width: 130px;
    height: 130px;
} 

.roundedCircle {
    border-radius: 100%;
    border: 1px solid rgb(81, 81, 197, .1);
}

.service__content:hover h2 {
    color: #50c594!important;
}

/* Hết phần service */

/* Phần review */
.client-review p {
    color: #052c65!important;
}

.carousel-1 .owl-item img {
    width: 200px!important;
    height: 200px!important;
    object-fit: cover;
    border-radius: 100%;
    display: inline!important;
}

.owl-nav {
    display: none;
}

.cli-text {
    color: #052c65;
    font-size: 13px;
    opacity: .8;
}
/* Hết phần review */

/* Phần place */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Tạo 4 cột */
    grid-template-rows: repeat(2, 1fr); /* Tạo 2 hàng */
    gap: 10px;
}

.grid .text-muted {
    font-size: 18px;
    font-weight: 700;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.grid__item1 {
    grid-row: span 2; 
    grid-column: span 2;
}

.item__hover {
    overflow: hidden; 
    position: relative; 
    border-radius: 10px;
}

.grid__item2 {
    grid-row: span 1; /* Chiếm 2 hàng */
    grid-column: span 2; /* Chiếm 2 cột */
}

.hide {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height all 0.3s ease-out, transform all 0.3s ease-out;
    transform-origin: bottom;
}

.item__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px 10px;
    transition: all 0.7s ease-out;
    overflow: hidden;
}

.item__hover:hover .hide {
    max-height: 100px; /* Điều chỉnh giá trị max-height tùy theo nhu cầu của bạn */
    transform: scaleY(1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.item__hover:hover img {
    transform: scale(1.1); 
    filter: brightness(50%);
}
/* Hết phần place */

/* Phần agent */
.solution {
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    transition: border 0.3s ease;
}

.carousel-5 .active {
    color: #052c65!important;
}

.pd-5 {
    padding: 18px 17px 14px;
}

.solution:hover h5 {
    color: #50c594;
}

.socialNetworks {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
}

.profileColumnSocial > li {
    margin-right: 10px;
}

.profileColumnSocial > li > a {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #94b6be;
    background-color: #f0f9fb;
    font-size: 13px;
    width: 33px;
    height: 33px;
}

.collapseWrap .socialNetworks li:hover a {
    color: #50c594;
}

.carousel-5 .owl-dots {
    margin-top: 15px;
}

/* Hết phần agent */

/* Phần  Properties*/

.text-dark {
    font-size: 13px!important;
    color:rgba(8, 45, 99, 0.8)!important;
}

.list-group-item p {
    margin: 0;
}

.card {
    overflow: hidden;
}

#properties .card .card-img-top {
    transition: transform 0.5s;
}

#properties .card:hover .card-img-top {
    transform: scale(1.1); 
}

.pd-bot {
    padding-bottom: 24px;
}

.pagination {
    padding-top: 24px;
}

.page-link {
    color: #052c65!important;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: white!important;
    background-color: #50c594;
    border-color: #50c594
}

#properties .card .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.text-large {
    font-size: 18px!important;
}

/* Phần back top */

#back-top {
    font-size: 24px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #50c594;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

#exampleModal, .modal-backdrop {
    display: none;
}